.user{
    flex-grow: 1;
    display: flex;
    flex-direction: row;
}
.user-left{
    flex-grow: 1;
    display: flex;
    background-color: white;
    justify-content: center;
    flex-direction: column;
    min-width: 30%;
    max-width: 30%;
    margin: 10px;
    height: 80%;
}
.user-left h1{
    margin-bottom: 50px;
    text-align: center;
    text-size-adjust: 64px;
}
.avatar{
    margin-bottom: 50px;
    align-self: center;
}
.upload-photo-btn{
    align-self: center;
    margin-bottom: 30%;
}

.user-right {
    background-color: white;
    display: flex;
    flex: 1;
    height: 80%;
    margin: 10px;
}



/*
.ant-layout-sider {
background: white;
color: rgb(0, 0, 0);
line-height: 240px;
min-width: 40%;
max-width: 40%;
}
[data-theme="dark"] .ant-layout-sider {
background: white;
}
.ant-layout-content {
background: rgb(255, 255, 255);
color: black;
min-height: 120px;
line-height: 120px;
}
[data-theme="dark"] .ant-layout-content {
background: white;
}
.ant-layout-content{
    min-width: 60%;
    max-width: 60%;
}
*/