
.announcement-post {
    margin: auto;
    margin-top: 25px;
    background-color: rgb(255, 255, 255);
    width: 90%;
    overflow: hidden;
}

.announcement-post h1{
    height: auto;
    padding-top: 20px; 
    padding-left: 32px;
    padding-right: 32px;
    font-size: 1.25em;
    color: black;
    text-align: left;
}

.announcement-post p{
    height: auto;
    padding-left: 32px;
    padding-right: 32px;
    padding-bottom: 32px;
    font-size: 1em;
    color: black;
    line-height: 22px; 
    text-align: left;
}
